@model Course_station.Models.Instructor

@{
    ViewData["Title"] = "Create Instructor";
}

<h1>Create Instructor</h1>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="InstructorName" class="control-label"></label>
                <input asp-for="InstructorName" class="form-control" />
                <span asp-validation-for="InstructorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestQualification" class="control-label"></label>
                <input asp-for="LatestQualification" class="form-control" />
                <span asp-validation-for="LatestQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertiseArea" class="control-label"></label>
                <input asp-for="ExpertiseArea" class="form-control" />
                <span asp-validation-for="ExpertiseArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
