@model Course_station.Models.Course

@{
    ViewData["Title"] = "Create Course";
}

<h1>Create Course</h1>

<form asp-action="CreateCourse" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiffLevel" class="control-label"></label>
        <input asp-for="DiffLevel" class="form-control" />
        <span asp-validation-for="DiffLevel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreditPoint" class="control-label"></label>
        <input asp-for="CreditPoint" class="form-control" />
        <span asp-validation-for="CreditPoint" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LearningObjective" class="control-label"></label>
        <input asp-for="LearningObjective" class="form-control" />
        <span asp-validation-for="LearningObjective" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="ManageCourses" asp-controller="Instructor">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
