
﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Educational-platform/FileContentIndex
/.vs/slnx.sqlite

# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore compiled code
*.class

# Ignored Identifyer
*.Identifier

