@model Course_station.Models.EmotionalFeedback

@{
    ViewData["Title"] = "Edit Emotional Feedback";
}

<h1>Edit Emotional Feedback</h1>

<h4>Emotional Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="LearnerId" class="control-label"></label>
                <input asp-for="LearnerId" class="form-control" />
                <span asp-validation-for="LearnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                <input asp-for="ActivityId" class="form-control" />
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmotionalState" class="control-label"></label>
                <input asp-for="EmotionalState" class="form-control" />
                <span asp-validation-for="EmotionalState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>