body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.navbar.dark-theme {
    background-color: #1f1f1f;
    border-color: #333;
}

.footer.dark-theme {
    background-color: #1f1f1f;
    border-color: #333;
}

a.dark-theme {
    color: #bb86fc;
}

.btn-secondary.dark-theme {
    background-color: #bb86fc;
    border-color: #bb86fc;
    color: #121212;
}
