/* site.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 2rem;
    padding: 0 15px;
}

.header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content:safe center;
}


