.instructor-home-container {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 8px;
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

.actions .btn {
    margin-bottom: 15px;
}
