/* site.css */

/* Logo */
.logo {
    height: 100px;
    margin-bottom: 20px;
}

/* Center text in the navbar */
.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-nav .nav-item {
    text-align: center;
    margin: 0 10px; /* Add space between items */
}

.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: deepskyblue;
    background-color: rgba(0, 123, 255, 0.1); /* Light blue background on hover */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Add padding for better visual effect */
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    text-align: center;
}

.jumbotron .display-4 {
    font-size: 2.5rem;
    font-weight: 300;
}

.jumbotron .lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.container {
    margin-top: 2rem;
}

.btn-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    color:cornflowerblue;
    text-decoration: underline;
}

hr.my-4 {
    margin: 1.5rem 0;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.button {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 15px;
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
}

.arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #3D9BFF;
    transition-duration: .2s;
}

.button:hover .arrow {
    animation: slide-right .6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.button:active {
    transform: translate(1px, 1px);
    transition-duration: .2s;
}


.button2 {
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 15px;
    background-color: #28a745;
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
}

.arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2:hover {
    background-color: #007bff;
    transition-duration: .2s;
}


.button2:hover .arrow {
    animation: slide-right .6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.button2:active {
    transform: translate(1px, 1px);
    transition-duration: .2s;
}
.main-layout header {
    margin-bottom: 30px;
}

.navbar-brand img {
    max-height: 60px;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99%;
    color: white;
}