@model Course_station.Models.PersonalProfile

@{
    ViewData["Title"] = "Edit Personal Profile";
}

<h1>Edit Personal Profile</h1>

<h4>Personal Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="LearnerId" class="control-label"></label>
                <input asp-for="LearnerId" class="form-control" readonly />
                <span asp-validation-for="LearnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileId" class="control-label"></label>
                <input asp-for="ProfileId" class="form-control" readonly />
                <span asp-validation-for="ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferedContentType" class="control-label"></label>
                <input asp-for="PreferedContentType" class="form-control" />
                <span asp-validation-for="PreferedContentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmotionalState" class="control-label"></label>
                <input asp-for="EmotionalState" class="form-control" />
                <span asp-validation-for="EmotionalState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalityType" class="control-label"></label>
                <input asp-for="PersonalityType" class="form-control" />
                <span asp-validation-for="PersonalityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
