@model Course_station.Models.TakenAssessment

@{
    ViewData["Title"] = "Take Assessment";
}

<h2>Take Assessment</h2>

<div>
    <h4>@Model.AssessmentId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Total Marks</dt>
        <dd class="col-sm-10">@Model.ScoredPoint</dd>
    </dl>
</div>

<form asp-action="Take" method="post">
    <div class="form-group">
        <label asp-for="ScoredPoint" class="control-label"></label>
        <input asp-for="ScoredPoint" class="form-control" />
        <span asp-validation-for="ScoredPoint" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="AssessmentId" />
    <input type="hidden" asp-for="LearnerId" />
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
