@model Course_station.Models.TakenAssessment

@{
    ViewData["Title"] = "View Score";
}

<h2>View Score</h2>

<div>
    <h4>@Model.Assessment.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Assessment.Description</dd>
        <dt class="col-sm-2">Total Marks</dt>
        <dd class="col-sm-10">@Model.Assessment.TotalMarks</dd>
        <dt class="col-sm-2">Scored Points</dt>
        <dd class="col-sm-10">@Model.ScoredPoint</dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
